body {
     background-color: purple;
    
}

.heading {
 background-color: lightblue;
 padding: 5px;
    
}

h1 {
    text-align: center;
}

.inp-store {
    text-align: center;
    
    

    background-color: #d1e3d6;
}

input {
  border: 2px solid black;
  border-radius: 5px;
  background: #b7cbed;
  height: 30px;
  width: 500px;
  margin: 15px;
   
  
}

button {
  border: 2px solid black;
  border-radius: 5px;
  background: #b7cbed;
  height: 30px;
  width: 450px;
  margin: 10px;  
    
}

button:hover {
  height: 35px;
  width: 450px;
  background: #51ed7a; 
}

img {
    width: 300px;
    height: 300px;
    display: block;
    border: black 3px solid;
    
}

.empty {
  background:black;
  height:50px;
}
.images {
  width:1280px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background:pink;
}

.images .box {
  position: relative;
  width:300px;
  min-height:300px;
  background:#ad2;
  margin: 5px;
  box-sizing: border-box;
  display: inline-block;  
}

.error {
  margin-top: -22px;
  height: 10px;
  font-size: 12px;
  
}


